*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#aaaaaa;

}

.contenedor {
    width: 98%;
    margin: auto;
    margin-top: 30px;
    align-content: center;


}
.resultados table{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
}

.tabla-registro{

    width: 60%;
    background: #2a5d84;
    padding: 10px;
    margin: auto;
    margin-top: 70px;
    border-radius: 2px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    border-radius: 3%;

}
.botonInicio{
    text-align: center;
}
.botonInicio h1{
    font-size: 70px;
    font-style: oblique;
    font-family: "Leelawadee UI";
    color: #1d4b8f;


}

.botonInicio  li a{
    font-size: 30px;
    color:  #000000;

}
